<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="auditing" type="Notadesigner.Crumbs.Configuration.AuditSection, HttpAuditModule" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- Declare a standard .NET connection string to use -->
    <add name="DefaultConnectionString" connectionString="Integrated Security=true;Data Source=." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <auditing>
    <!-- Link up the connection string to the auditing module -->
    <log connectionStringName="DefaultConnectionString" />
    <!-- Enable the HTTP methods that need to be logged for auditing -->
    <methods>
      <get isEnabled="false" />
      <put isEnabled="false" />
      <post isEnabled="true" />
      <delete isEnabled="false" />
      <head isEnabled="false" />
      <options isEnabled="false" />
    </methods>
  </auditing>
  <appSettings>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact" />
    <add key="serilog:write-to:File.path" value="./logs/audit.clef" />
  </appSettings>
</configuration>